<!--- index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Ollama Python Chat</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <script defer src="{{ url_for('static', filename='js/index.js') }}"></script>
</head>
<body>
    <div class="chat-container">
        <h1>Ollama Python Chat</h1>
        <div class="chat-log" id="chat-log"></div>
        <form id="chat-form">
            <input type="text" name="message" class="message-box" placeholder="Enter your message...">
            <button type="submit">Submit Message</button>
        </form>
        <img src="{{ url_for('static', filename='images/bars-rotate-fade.svg') }}" class="spinner" id="spinner" alt="Loading...">
    </div>
</body>
</html>
